
body {
  background-color: #003E41;
  color: #000;
  font-family: "Karla";
  font-weight: 400;
}

.main {
  padding-top: 5vh;
}

input {
  margin: 1rem 0 0 5%; /* top right bottom left */
  background: transparent;
  border-width: 0.1rem;
  border-radius: 0.75rem;
  border-color: #000;
  color: #000;
  font-family: "Karla";
  font-weight: 300;
  font-size: 1.25rem;
  padding: 0.25rem 1.75rem 0.25rem 1rem; /* top right bottom left */
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
  border-color: #006196;
  border-width: 0.15rem;
  outline: none;
}

input[type="button"], #showLoginPassword, .sidebar p, #navBar-menu-button, .exit-button, #searchButton, #showRegisterPassword, #showRegisterPasswordConfirm {
  cursor: pointer;
}

input.loginFields {
  width: 90%;
  height: 2.1rem;
  border-radius: 0.5rem;
}

.navBar {
  display: inline;
  position: fixed;
  background-color: #00282b;
  width: 100vw;
  height: 7vh;
  left: 0;
  top: 0;
}

.inline-icon {
  margin-left: -2rem;
}

.navBar-title {
  position: absolute;
  text-align: center;
  color: #D1D1D1;
  width: 100%;
  height: 100%;
  font-size: 5vh;
  margin-left: -7vh;
  padding-top: 1vh;
}

.navBar-button {
  position: absolute;
  width: 100%;
  font-size: 4vh;
  margin-left: -6vh;
  margin-top: 1.5vh;
}

#display-user {
  position: absolute;
  display: block;
  text-decoration: none;
  font-size: 3vh;
  color: #919191;
  margin-top: -3vh;
}

.sidebar {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
}

.sidebar-menu {
  padding-top: 6vh;
  padding-left: 15%;
  overflow-x: hidden;
  text-align: left;
}

.sidebar p {
  display: block;
  text-decoration: none;
  padding-bottom: 2.5vh;
  font-size: 3vh;
  transition: 0.5s;
}

.sidebar p, #navBar-menu-button {
  color: #919191;
}

#navBar-menu-button:hover {
  color: #D1D1D1;
}

.sidebar p:hover {
  color: #D1D1D1;
  margin-left: -5%;
}

.top-bar {
  display: block;
  width: 100%;
  height: 5%;
}

.exit-button {
  position: absolute;
  right: 0;
  padding-top: 2%;
  padding-right: 2%;
  font-size: 1.5rem;
  color: #000;
}

.exit-button:hover {
  color: #F00;
}

.login-and-register-button {
  transform: translate(50%, 0);
  background: #51c1fd;
  width: 45%;
  margin-top: 1rem;
  transition: 0.5s;
}

.login-and-register-button:hover {
  background: #1cafff;
}

.email-value, .phone-value {
  margin: 0; /* top right bottom left */
  background: transparent;
  border-width: 0.1rem;
  border-radius: 0.75rem;
  border-color: #000;
  color: #000;
  font-family: "Karla";
  font-weight: 300;
  font-size: 1rem;
  padding: 0.25rem 1.75rem 0.25rem 1rem; /* top right bottom left */
}

.contact-card-title-first-name, .contact-card-title-last-name {
  display: inline;
  color: #DDD;
  width: 30%;
  margin: 0;
}

.contact-card {
  z-index: 10;
  display: block;
  position: relative;
  left: 5%;
  /*transform: translate(-50%, 0);*/
  width: 90%;
  border: none;
}

.contact-card-title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #DDD;
  border-radius: 0.75rem;
  background: #222;
  border: solid;
  border-color: #dbfffd;
  padding: 1%;
}

.contact-card-body {
  display: block;
  position: relative;
  right: 0;
  height: 0;
  text-align: left;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #dbfffd;
  padding: 0%;
  transition: 0.5s;
  overflow: hidden;
}

.contact-card-body-fields {
  display: inline-block;
  position: relative;
  text-align: right;
  width: 25%;
}

.contact-card-body-values {
  display: inline-block;
  position: relative;
  left: 1rem;
  text-align: left;
}

.edit-contact {
  display: inline;
  background-color: rgb(24, 168, 187);
  border-radius: 0.5rem;
}

.edit-contact:hover {
  background-color: rgb(32, 207, 230);
}

.delete-contact {
  display: inline;
  background-color: rgb(150, 34, 34);
  border-radius: 0.5rem;
}
.delete-contact:hover {
  background-color: rgb(212, 48, 48);
}

.delete-confirm {
  display: none;
  background-color: rgb(150, 34, 34);
  border-radius: 0.5rem;
}

.delete-confirm:hover {
  background-color: rgb(212, 48, 48);
}

.edit-confirm {
  display: none;
  background-color: rgb(24, 168, 187);
  border-radius: 0.5rem;
}

.edit-confirm:hover {
  background-color: rgb(32, 207, 230);
}

.edit-cancel {
  display: none;
  background-color: rgb(150, 34, 34);
  border-radius: 0.5rem;
}
.edit-cancel:hover {
  background-color: rgb(212, 48, 48);
}

#blurb {
  text-align: center;
  font-size: 4rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-title, #register-title, #add-title, #search-title {
  display: block;
  text-align: center;
  color: rgb(8, 19, 27);
  font-size: 2.5rem;
  margin-top: 3%;
}

#aboutUs-title {
  display: block;
  text-align: center;
  color: rgb(8, 19, 27);
  font-size: 2.5rem;
  margin-top: 3%;
  font-weight: bold;
}

#aboutUstext {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 3%;
  bottom: 50%;
  left: 50%;
}


#loginDiv {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 27rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background-color: #94f8ff;
  border-radius: 0.75rem;
}

#registerDiv {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 27rem;
  height: 33rem;
  transform: translate(-50%, -50%);
  background-color: #94f8ff;
  border-radius: 0.75rem;
}

#adduserDiv {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 27rem;
  height: 23rem;
  transform: translate(-50%, -50%);
  background-color: #94f8ff;
  border-radius: 0.75rem;
}
#searchDiv {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 42rem;
  height: 35rem;
  transform: translate(-50%, -50%);
  background-color: #94f8ff;
  border-radius: 0.75rem;
}
#aboutUsDiv {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 38rem;
  height: 23rem;
  transform: translate(-50%, -50%);
  background-color: #94f8ff;
  border-radius: 0.75rem;
}


#menu-newUser {
  display: none;
}

#menu-SignedIn {
  display: none;
}

#loginResult, #signUpResult, #addContactResult {
  text-align: center;
  display: block;
  color: #F00;
}

#searchText {
  width: 90%;
  height: 2.1rem;
  border-radius: 0.5rem;
}

#searchResult {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 70%;
  border-radius: 0.75rem;
  border: solid #000;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 1%;
}

/*


body
{
    background-color: grey;
}

#title
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#loginDiv
{

    font-size: 40px;
    height: 55%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 255%;
    padding: 25px;
    background-color: #b2b2b2;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}
#signUpfn
{
	font-size: 20px;
}
#signUpln
{
	font-size: 20px;
}
#signUpEmail
{
	font-size: 20px;
}
#signUpName
{
	font-size: 20px;
}
#signUpPassword
{
	font-size: 20px;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 25px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"],input[type="email"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

input[type="search"]{
    border-radius: 25px;
    text-align: center;
    align-items: center;
    height: 56px;
    width: 60%;
    margin-left: 21%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}
/*
centers your element
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
#inner-title1
{
    display: inline-block;
    font-size: 40px;
    width: 90%;
    margin-left: 5%;
    margin-left: 5%;

    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
#addbtn_tittle
{
    display: inline-block;
    font-size: 40px;
    width: 90%;
    margin-left: 5%;
    margin-left: 5%;

    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
#new_user{
    display: inline-block;
    font-size: 18;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
#new_user_ref{
    display: inline-block;
    font-size: 22;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: purple;
}
.popup .overlay {
    position: fixed;
    top:0%;
    left:0%;
    width:100vw;
    height: 100vh;
    background: rgba(0,0,0,0,7);
    z-index:1;
    display: none;
}
.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: white;
    width: 750px;
    height: 620px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height: 30px;
    background:black;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
#add_contactbtn{
    width: 20%;
    margin-left: 10%;
    font-size: 20px;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
}
#add_contactbtn:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
    font-size: 20px;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
*/
